@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes textclip {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes borderGradient {
  50% {
    background-position: 100% 50%;
  }
}
.hobbiesCategory {
  display: flex;
  max-width: 20em;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
}
.hobbiesCategory li {
  padding: 5px;
  margin: 0px;
  font-size: 0.9em;
}
