.container {
  display: flex;
  flex-direction: row;
  column-gap: 2vh;
  row-gap: 2vh;
  max-width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}
.container .projectContainer {
  text-align: left;
  background-color: #201d1f;
  color: #f2f2f2;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  max-width: 280px;
}
.container .projectContainer .projectIcon {
  margin-left: 5px;
}
